//- Import des mixins
include includes_jade/mixins
//- Layout de base
extends includes_jade/layout

//- Titre de la page
block title
    title Titre de la page

//- Meta description
block description
    meta(name='description', content='Exemple de description')

block content
    header
        div(class='wrap')
            a(href='#', class='logo')
                span(class='link-hide') Logo
                img(src='assets/img/logo.svg', alt='Logo...')
            nav(class='primary'): ul
                    +navlink(true, '#', 'Nav_1', 'Title_Nav_1')
                    +navlink(false, '#', 'Nav_2', 'Title_Nav_2')
                    +navlink(false, '#', 'Nav_3', 'Title_Nav_3')
    
    section(class='content')
        div(class='wrap')
        
        
    footer
        div(class='wrap')
    
block scripts
    script(src="app/client.js")
